/* CalendarStyles.css */

.fc {
  font-family: "Arial", sans-serif;
}

.fc-event {
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.fc-event-time {
  display: none;
}

.fc-event-title {
  font-weight: bold;
}

.fc-event-container {
  margin-bottom: 5px;
}

.fc-daygrid-day-top {
  background-color: #f0f0f0;
  border-top: 1px solid #ddd;
}

.fc-daygrid-day-number {
  color: #333;
}

.fc-daygrid-day-today {
  background-color: #e0e0e0;
}
